@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");
body {
  margin: 0;
  /* padding: 5px 100px; */
}

header {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin: 5px 100px;
}

.site-title {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > li {
  list-style: none;
}
.navbar > li > a {
  text-decoration: none;
}

.site-title h1 {
  margin: 0;
  font-size: 40px;
  color: rgb(128, 0, 128);
}

.site-title p {
  margin: 0;
  font-family: Helvetica;
  font-size: 10.4px;
  color: gray;
}
.navigation-bar {
  flex-grow: 1;
}
.banner {
  display: flex;
  align-items: center;
  flex-basis: 70%;
  margin-top: 50px;
}
.description > input {
  border-radius: 3px;
  padding: 4px 10px;
  background-color: white;
  border: 1px solid black;
}
.icon > i {
  font-size: 100px;
}
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-section {
  margin-top: 40px;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-section h3 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: fit-content;
}
.title {
  display: flex;
  justify-content: center;
}
.person {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 30%;
}
.person img {
  border-radius: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}
.person h5,
.person .work-position {
  margin: 0;
}
.person p {
  font-style: italic;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sign-up {
  margin-top: 20px;
  padding: 50px;
  color: white;
  background-color: rgb(104, 52, 123);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sign-up h2 {
  flex-basis: 100%;
  text-align: center;
}

.sign-up h2::after {
  content: "";
  margin-top: 10px;
  display: block;
  margin-left: 48%;
  width: 4%;
  border-bottom: 3px solid black;
}
.sign-up input {
  border: none;
  border-radius: 3px;
  padding: 10px 50px;
}
.sign-up .btn {
  color: rgb(104, 52, 123);
  margin-left: 5px;
  background-color: white;
}

.page-footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px 0px rgb(212 207 207 / 80%);
}

.page-footer-sitemap-items {
  list-style: none;
  display: flex;
  flex-basis: 100%;
  padding: 0;
  flex-direction: column;
  max-height: 40%;
  flex-wrap: wrap;
  margin-top: -10px;
}
.page-footer-sitemap-items li {
  width: 100%;
}
.page-footer-sitemap {
  display: flex;
  flex-direction: column;
}
footer {
  display: block;
}
.dropdown {
  display: none;
}
.page-footer h2{
  margin-top: 40px;
}
.page-footer h3{
  font-weight: 300;
}
.page-footer-contacts-list{
  margin-top: -10px;
}
@media all and (max-width: 1200px) {
  .dropdown {
    display: flex;
    align-items: center;
  }
  .dropdown a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }
  .navigation-bar {
    display: none;
  }
}
